<div id="headerPane">
	<h1>PEOPLE+</h1>
	<img id="settingsButton" src="images/settings.png" />
</div>
<div id="columnPane">
	{{#each column in model itemController="columns"}}
		<div class="columnContainer">
			<div class="columnTop">
				<div class="columnLabel" {{action "editName" on="click"}}>
					{{#if isEditing}}
						{{focus-input focus-out="saveName" insert-newline="saveName" type="text" value=column.name}}
					{{else}}
						<span>{{column.name}}</span>
					{{/if}}
				</div>
				<img class="editButton" src="images/edit.png" />
			</div>
			<div class="column">
				{{#each post in column.feed}}
					{{#equal column.service 'Facebook'}}
						{{! Facebook }}
						
						<div class="card">
							<div class="smTopPane">
								{{image }}
							</div>
						</div>
						
					{{/equal}}
					{{#equal column.service 'Twitter'}}
						{{! Twitter }}
						Twitter
					{{/equal}}
					{{#equal column.service 'Instagram'}}
						{{! Instagram }}
						Instagram
					{{/equal}}
				{{/each}}
			</div>
		</div>
	{{/each}}
</div>